// music folder
const inputPath = '/root/music'
// torrent output folder
const torrentPath = '/root/torrent'
// pictures output folder
const picturesPath = '/root/pictures'
// allowed music types
const musicTypes = ['.mp3']
// our tracker domain
const trackers = ['ws://127.0.0.1:3002']

module.exports = { inputPath, torrentPath, picturesPath, musicTypes, trackers }
