<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="dist/index.css" />
    <title>Hello, I'm starting to develop</title>
  </head>
  <body>
    <div id="root"></div>
    <script>
      window.user = <%- JSON.stringify(user) %>
    </script>
    <script src="https://cdn.jsdelivr.net/webtorrent/latest/webtorrent.min.js"></script>
    <script src="dist/common.js"></script>
    <script src="dist/index.js"></script>
  </body>
</html>
